.primeiraPagina{
background-image: ("https://replit.com/@Daniel-online/Website-completo-showcase#stock/black-color-solid-background-1920x1080%20(1).png") ;
background-repeat: ;
}
article{
  font-size: 45px;
  font-size-adjust: 45px;
  font-style: sjd;
  font-family: Arc;
  font-collor: white;
}