{% extends "base.html" %}
{% block title %} Login {% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block menu %}
{{ super() }}
{% endblock %}

{% block content%}
{{ super() }}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert alert-info" role="alert">
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
   <div class="">

   </div>
    
{% endblock %}

{% block nav_footer %}
{{ super() }}
{% endblock %}