<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <title>Daniel's Portfolio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="./index.js" defer=""></script>
    <link rel="stylesheet" href="./index.css">
  </head>

  <body>
    <img src="https://drive.google.com/file/d/1PpbTf795puTLmgNw6Ki_0CPwb5qxu7n3/view?usp=share_link" alt="background-img">
    <div>
      <div class="logo-holder">
      </div>

      <div>
        <div class="titulo-thumb">
          <img src="https://drive.google.com/file/d/18Q0m2n7TpPsIzsllMVBpnIqvvIJlnTUE/view?usp=share_link">

          <h1>Desenvolvendo <i>além</i> do código</h1>
        </div>
        <div>
          <div class="up-menu">


            <a type="button" class="up-menu" href="">
              <h3>Repositórios</h3>
            </a>
            <a type="button" class="up-menu" href="">
              <h3>Projetos</h3>
            </a>
            <a type="button" class="up-menu" href="">
              <h3>Sobre</h3>
            </a>
            <a type="button" class="up-menu" href="">
              <h3>Contato</h3>
            </a>
          </div>
          <div>
            <div class="sideScroll-menu">

              <script>
              </script>
            </div>
            <div>
              <div class="subscribe-Newsletter">
                <form>

                  Email <input type="email" maxlength="30" name="email_input">
                  Telefone<input type="tel" maxlength="12" name="tel_input">
                  Nome<input type="name" maxlength="20" name="name_input">


                </form>

              </div>
              <div>
                <div class="projectShowcase">
                  <a href="https://github.com/Daniel-online/server">Sports App</a>
                  <a href="https://github.com/Daniel-online/C">Personal C library</a>

                </div>
                <div>
                  <div class="bottom-bar">


                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>